@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

//keyframe for text animation

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
    z-index: -2;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hideBottomText {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
    display: none;
    z-index: -3;
  }
}

@keyframes showWork {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.swiper {
  --swiper-theme-color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  margin-left: 15px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  margin-right: 20px;
}
