@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  display: flex;
  gap: 50%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $primary-color-background;
  width: 100%;
  padding: 20px 0 12px;
  z-index: 100;

  @include tablet {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    min-width: 700px;
  }

  @include desktop {
    min-width: 1280px;
  }

  &__left {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &__socials {
    display: flex;
  }

  &__link {
    padding-left: 15px;

    &:hover {
      text-decoration: overline;
      color: $primary-color-white;
    }
  }

  &__logo {
    width: 15px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__year {
    margin: 0;
    font-size: 12px;
    letter-spacing: 4px;
  }
}
